html,body{
    height: 100%;font-size: 1rem;
}
.gradient{
    background: rgb(2,92,242);
    background: linear-gradient(135deg, rgba(0,97,242,1) 0%, rgba(105,0,199,1) 100%);
}
.page-header{
    margin-top: 4rem;
    font-size:1.25rem;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}
.features{
    color:#fff;
}
.features ul{
    padding-left: 2rem;
    list-style-type: none;
}
.features ul li{
    padding-left: 2rem;
    margin-bottom: 1rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
}
.icon{
    color:#fff;
    width: 5rem;
    height: 5rem;
    font-size:1.75rem;
    border-radius:100%;
    display: inline-flex;
    justify-content: center;
    align-items:center;
}
.gallery{
    background-color:#f3f3f3;
}
.gallery img{
    border-radius: 5%;
}
.service{
    color:#fff;
}
footer{
    color: #fff;
    margin: 0;
    padding:1rem;
}
footer a{
    color:#fff;
    text-decoration:none;
}